/* Custom styles */
body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 56px;
    position: relative;
    color: white;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

footer img {
    max-height: 50px;
}

footer a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.card {
    border: none;
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.section-title {
    font-size: 2rem;
    color: #343a40;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    text-align: center;
}

.card-text,
.product-description {
    font-size: 1.2rem;
    text-align: center;
}

#about,
#services,
#products,
#contact {
    background-color: #fff;
    padding: 2rem 0;
}

#about .card,
#services .card,
#contact .card {
    margin-bottom: 1.5rem;
}

.wave {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: -50px;
}

.wave svg {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.product-item {
    text-align: center;
}
